---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import CardsRejser from "../components/CardsRejser.astro";
import Accordion from "../components/Accordion.astro";
import Carousel from "../components/Carousel.astro";
---

<MainLayout title="Titel">
  <section class="relative grid grid-cols-3 items-center">
    <div class="col-span-3 z-0">
      <video class="w-full h-full object-cover" muted autoplay loop>
        <source src="/hero.mp4" type="video/mp4" />
      </video>
    </div>
    <article class="col-start-2 col-span-1 absolute z-10">
      <img src="/hero-logo.svg" alt="Hojskolendk logo" />
      <div class="justify-items-center items-end pt-4xl"><img src="/hero-arrow.svg" alt="" /></div>
    </article>
  </section>

  <section class="grid place-items-center my-xl mx-xxs">
    <article class="md:max-w-xl mx-auto">
      <h2 class="text-center pb-m text-turquoise-500">Højskoleophold i udlandet</h2>
      <p class="pb-xs text-turquoise-800">HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet, og dele et fantastisk rejseeventyr med nye venskaber.</p>
      <p class="text-turquoise-800">Vi adskiller os fra traditionelle skoler, ved at fokuserer på læring gennem fællesskab og personlig udvikling, samtidig med at du skaber livslange venskaber.</p>
      <div class="place-self-center pt-m"><Button text="Læs mere om os" textColor="text-white" bgColor="bg-turquoise-400" /></div>
    </article>
  </section>

  <section class="grid gap-lg bg-turquoise-200 py-xl px-xxs overflow-hidden">
    <article class="max-w-lg md:max-w-6xl mx-auto">
      <h2 class="text-turquoise-800">Find din rejse</h2>
      <Carousel>
        <CardsRejser url="#" cardimage="background-image: url('/card1.png');" cardtitle="Adventure" carddestination1="Caribien" carddestination2="Hawaii" carddestination3="Mexico" />
        <CardsRejser url="#" cardimage="background-image: url('/card8.png');" cardtitle="Kultur" carddestination1="Bali" carddestination2="Lombok" carddestination3="Gili Island" />
        <CardsRejser url="#" cardimage="background-image: url('/card3.png');" cardtitle="Blandet" carddestination1="Australien" carddestination2="Japan" carddestination3="Bali" />
        <CardsRejser url="#" cardimage="background-image: url('/card9.png');" cardtitle="Natur" carddestination1="Maldiverne" carddestination2="Bali" carddestination3="Lombok" />
        <CardsRejser url="#" cardimage="background-image: url('/card7.png');" cardtitle="Kultur" carddestination1="Panama" carddestination2="Mexico" carddestination3="Colombia" />
      </Carousel>
      <div class="place-self-center"><Button text="Se alle rejser" textColor="text-white" bgColor="bg-turquoise-800" /></div>
    </article>
  </section>

  <section class="grid md:grid-cols-2 max-w-6xl mx-auto">
    <h2>FAQ</h2>
    <div>
      <Accordion question="Hvad er inkluderet i prisen?" answer="Lorem ipsum" />
      <Accordion question="Hvordan foregår undervisningen?" answer="Lorem ipsum" />
      <Accordion question="Rejseforsikring" answer="Lorem ipsum" />
      <Accordion question="Vacciner" answer="Lorem ipsum" />
    </div>
  </section>

  <section></section>
</MainLayout>
