---
const { text, navn } = Astro.props;
---

<div class="rounded-tr-lg rounded-bl-lg shadow hover:opacity-90 transition duration-200 bg-beige-50 w-[330px] h-[275px] p-sm">
  <p class="text-left text-orange-500">"</p>
  <p class="text-center font-body text-turquoise-800 pt-s pb-m">{text}</p>
  <p class="text-left font-konsultativ text-turquoise-800 pb-s">{navn}</p>
  <p class="text-right text-orange-500">"</p>
</div>
