---
const { text, navn } = Astro.props;
---

<div class="rounded-tr-lg rounded-bl-lg shadow hover:opacity-90 transition duration-200 bg-beige-50 w-[330px] h-[275px] flex-shrink-0 p-s">
  <p class="text-left text-orange-500 font-display text-h4">"</p>
  <p class="text-center text-turquoise-800 font-body text-p">{text}</p>
  <p class="text-left font-konsultativ text-turquoise-800 pt-s font-body text-p">{navn}</p>
  <p class="text-right text-orange-500 font-display text-h4">"</p>
</div>
