---

---

<article class="relative rounded-lg">
  <a href="#">
    <img src="/card1.png" alt="" class="z-0" />
    <article class="absolute z-10 text-center rounded-b-lg bg-[linear-gradient(180deg,_rgba(0,0,0,0)_0%,_rgba(0,0,0,0.4)_37.5%,_rgba(0,0,0,0.4)_78.5%)]">
      <h4>Hello</h4>
      <div class="flex space-between gap-xs pb-sm">
        <p>Land</p>
        <p>Land</p>
        <p>Land</p>
      </div>
      <button>Læs mere her</button>
    </article>
  </a>
</article>
