<section class="bg-orange-500 pt-lg pb-lg">
  <div class="justify-center text-center">
    <div class="md:flex justify-center md:gap-2xl">
      <div class="pt-m">
        <h5 class="font-body font-bold text-h4_mobile md:text-h5 pb-s md:pb-lg text-white">Kontakt os</h5>
        <div class="justify-center">
          <p class="font-body font-regular text-p text-white">Telefon: 7027 9007</p>
          <p class="font-body font-regular text-p text-white">Mail: info@hojskolendk.dk</p>
        </div>
      </div>

      <div class="pt-m">
        <h5 class="font-body font-bold text-h4_mobile md:text-h5 pb-sm md:pb-lg text-white">Følg os</h5>
        <div class="flex justify-center items-end gap-lg md:gap-s">
          <a href="#"><img src="/icons/facebook.svg" alt="facebook_icon" class="h-8" /></a>
          <a href="#"><img src="/icons/insta.svg" alt="instagram_icon" class="h-8" /></a>
          <a href="#"><img src="/icons/youtube.svg" alt="youtube_icon" class="h-8" /></a>
        </div>
      </div>

      <div class="hidden md:block pt-m">
        <h5 class="font-body font-bold text-h4_mobile md:text-h5 pb-xxs text-white">Samarbejdspartnere</h5>
        <div class="flex justify-end items-end">
          <a href="#"><img src="/icons/partners.svg" alt="facebook_icon" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
